body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 0;
}

.bites {
  opacity: 1;
  margin-left: -150px;
  z-index: 10;
  position: relative;
  animation: eat 3s infinite;
}

.tooth1, .tooth2, .tooth3, .tooth4 {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 40px;
  background-color: #fff;
}

.tooth5 {
  position: absolute;
  height: 90px;
  width: 90px;
  background-color: #fff;
}

.tooth1 {
  left: 0px;
  top: -15px;
}

.tooth2 {
  left: 23px;
  top: 20px;
}

.tooth3 {
  left: 61px;
  top: 46px;
}

.tooth4 {
  left: 103px;
  top: 68px;
}

.tooth5 {
  left: 54px;
  top: -20px;
}

.sandwich {
  position: relative;
}

.top_slice,
.bottom_slice {
  position: relative;
  width: 270px;
}

.bread_center {
  position: absolute;
}

.thickness .top {
  height: 100px;
  width: 60px;
  margin: 1px -15px;
  border-left: 20px solid #CD854D;
  border-top: 20px solid #CD854D;
  border-radius: 105px 0 0 60px;
}

.thickness .bottom {
  height: 140px;
  width: 60px;
  margin: -22px -15px;
  border-left: 20px solid #CD854D;
  border-bottom: 20px solid #CD854D;
  border-radius: 30px 0 0 20px;
}

.bread_center .top_left,
.bread_center .top_right {
  height: 100px;
  width: 120px;
  display: inline-block;
  background-color: #FDEDCD;
}

.bread_center .top_left {
  border-radius: 80px 0 0 20px;
  border-left: 10px solid #E1B894;
  border-top: 10px solid #E1B894;
}

.bread_center .top_right {
  border-radius: 0 80px 20px 0;
  border-right: 10px solid #E1B894;
  border-top: 10px solid #E1B894;
}

.bread_center .bottom {
  height: 140px;
  width: 240px;
  background-color: #FDEDCD;
  border-radius: 20px 20px 20px 20px;
  border-right: 10px solid #E1B894;
  border-bottom: 10px solid #E1B894;
  border-left: 10px solid #E1B894;
}

.cheese {
  position: absolute;
  height: 250px;
  width: 240px;
  background-color: #FFDB01;
  z-index: -1;
  margin: -230px -20px;
}

.bottom_slice {
  z-index: -2;
  margin: -260px -30px;
}

@keyframes eat {
  1% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}